$color-white: #ffffff;
$color-black: #000;

$color-primary-purple: #7918D9;
$color-primary-yellow: #D9A918;

$color-secundary-dark: #1F0F2B;
$color-secundary-blue: #0893B9;
$color-secundary-purple: #6C3659;

$color-complementary-white: #F1F1F1;
$color-complementary-off: #D9DBDB;
$color-complementary-gray: #464646;
$color-complementary-purple: #7918D9;
$color-complementary-beige: rgba(217, 169, 24, 0.5);
$color-complementary-dark: #6C3659;
$color-complementary-blue: #0893B9;