<section class="home">
  <div class="container">
    <h1>Procurando um novo AMIGO?</h1>
    <p>
      A <span>Quatro Patas</span> pode ajudar nessa missão! Doguinhos e Gatinhos
      estão esperando para fazer você feliz! <br />
      Adote agora mesmo.
    </p>

    <div class="buttons">
      <app-btn-component buttonType="adoteAgora"></app-btn-component>
      <app-btn-component buttonType="nossasRegras"></app-btn-component>
    </div>
  </div>

  <div class="image">
    <img
      src="../../../assets/images/illustration/HomeDog.png"
      alt="Imagem grande"
    />
  </div>
</section>
