<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../assets/images/logo/Logo.png" alt="Logo Quatro Patas" />
      </a>
    </div>
    <div class="info">
      <h2>Quatro Patas Adoção de Animais</h2>
      <p>Rua das Oliveiras, 158 | Nova Floresta - São Paulo, SP 13999-008</p>
      <p>(021) 9921-8282 ou (019) 9923-5050</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-content">
      <p>Copyright 2022. Todos os direitos reservados.</p>
      <p>Violência contra animais é crime. Denuncie 0800 600 6428</p>
    </div>
  </div>
</footer>
